<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Order Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet" />
    <style>
        body {
            font-family: "Montserrat", sans-serif;
        }

        .tab-content {
            display: none;
        }

        .tab-active {
            display: block;
        }

        select:disabled {
            color: black !important;
            opacity: 1 !important;
            background-color: inherit !important;
        }

        input:disabled {
            color: black !important;
            opacity: 1 !important;
            background-color: inherit !important;
        }

        input[type="checkbox"]:disabled {
            opacity: 1 !important;
            width: 15px;
            height: 15px;
        }
    </style>
</head>

<body class="bg-gray-100 font-montserrat px-3 py-10">
<script
        src="https://td3047046.app.netsuite.com/core/media/media.nl?id=1438&c=TD3047046&h=joIRhuH4ppMYUlBARn7IrK5s0HNwF_X-sAEmWtYyc7TN2Kg2&_xt=.js"></script>
    <div id="sessionExpired" style="display:none; text-align:center;">
        <h1>Session Expired</h1>
        <p>Your session has expired. Please <a
                href="https://td3047046.extforms.netsuite.com/app/site/hosting/scriptlet.nl?script=95&deploy=1&compid=TD3047046&ns-at=AAEJ7tMQZfEmAHZ5pKgDlB14gl1ebwQScEBzoIyXL1pSYbQfpTM">log
                in</a> again.</p>
    </div>
    <div id="mainContainer" class="w-full px-1 md:px-4 lg:px-8 xl:px-12 2xl:px-16 mx-auto">
        <div
            class="relative flex flex-col min-w-0 break-words w-full mb-10 shadow-2xl bg-gradient-to-br from-gray-50 to-gray-100 rounded-xl">

            <div class="border-t border-x border-[#0a514a] px-6 py-3 rounded-t-xl text-white shadow-md">
                <div class="flex items-center justify-between">
                    <a href="https://www.jobinandjismi.com" target="_blank" rel="noopener noreferrer">
                        <img src="https://www.jobinandjismi.com/images/secondary-logo.svg"
                            class="w-32 sm:w-32 md:w-40 lg:w-48 xl:w-56 drop-shadow-lg" alt="Jobin And Jismi Logo" />
                    </a>
                    <div>
                        <div class="flex items-center justify-between mt-5">
                            <span id="so-statusref"
                                class="bg-[#0a514a] text-white px-2 py-1 text-sm text-center mr-4 rounded-sm font-semibold shadow capitalize mx-auto block w-fit"></span>
                            <h1 class="text-3xl font-bold text-[#0a514a]" id="so-custname"></h1>
                        </div>

                        <button type="button" id="editButton"
                            class="mt-4 mr-0 ml-auto block border border-[#0c6c73] text-[#0c6c73] text-sm px-3 py-1 rounded-md shadow active:bg-gray-200">
                            Edit Record
                        </button>

                        <!-- New Buttons -->
                        <div id="editActions" class="flex items-center gap-3 mt-4 hidden">
                            <button id="saveButton"
                                class="bg-[#0c6c73] text-white text-sm px-3 py-1 rounded-md shadow flex items-center gap-2">
                                <span id="saveButtonText">Save</span>
                                <svg id="saveSpinner" class="hidden animate-spin h-4 w-4 text-white"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                        stroke-width="4"></circle>
                                    <path class="opacity-75" fill="currentColor"
                                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                    </path>
                                </svg>
                            </button>
                            <button id="cancelButton"
                                class="block border border-[#0c6c73] text-[#0c6c73] text-sm px-3 py-1 rounded-md shadow">
                                Cancel
                            </button>
                        </div>

                    </div>
                </div>
            </div>


            <div class="flex-auto px-5 lg:px-12 py-10 border border-[#0a514a] rounded-b-xl">
                <form>
                    <!-- Primary Information Section -->
                    <section class="rounded-xl border border-[#0a514a] mb-8">
                        <h6
                            class="rounded-tr-xl rounded-tl-xl text-white text-lg font-bold uppercase tracking-wider bg-[#0a514a] p-3 px-6">
                            Primary Information</h6>

                        <div class="flex flex-wrap border-[#abd334] shadow-md rounded-bl-xl rounded-br-xl pb-8">
                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-md font-semibold mt-8">Order #<span
                                        class="so-number"></span></label>
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Customer</label>
                                <label id="so-customer" class=""></label>
                            </div>


                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Date</label>
                                <input type="date" id="so-date"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full"
                                    disabled />
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Start Date</label>
                                <input type="date" id="so-startdate"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full"
                                    disabled />
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">End Date</label>
                                <input type="date" id="so-enddate"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full"
                                    disabled />
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">PO #</label>
                                <input type="text" id="so-po"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full"
                                    disabled />
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Job</label>
                                <label id="so-job-label" class="view-only"></label>
                                <select id="so-job-id"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full edit-only hidden"
                                    disabled>
                                    <option selected hidden>Select Job</option>
                                </select>
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Total</label>
                                <label id="so-total" class=""></label>
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Memo</label>
                                <textarea id="so-memo"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full"
                                    rows="1" disabled></textarea>
                            </div>

                        </div>
                    </section>

                    <section class="rounded-xl border border-[#0a514a] mb-8">
                        <h6
                            class="rounded-tr-xl rounded-tl-xl text-white text-lg font-bold uppercase tracking-wider bg-[#0a514a] p-3 px-6">
                            Sales Information</h6>

                        <div class="flex flex-wrap border-[#abd334] shadow-md rounded-bl-xl rounded-br-xl pb-8">
                            <!-- Sales Rep -->
                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Sales Rep</label>
                                <label id="so-salesrep" class=""></label>
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Sales Effective
                                    Date</label>
                                <input type="date" id="so-saleseffectivedate"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full"
                                    disabled />
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Lead Source</label>
                                <label id="lead-source-label" class="view-only"></label>
                                <select id="lead-source"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full edit-only hidden"
                                    disabled>
                                    <option selected hidden>Select Lead Source</option>
                                </select>
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Opportunity</label>
                                <label id="so-oppurtunity-label" class=""></label>
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Partner</label>
                                <label id="so-partner-label" class="view-only"></label>
                                <select id="so-partner"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full edit-only hidden"
                                    disabled>
                                    <option selected hidden>Select Partner</option>
                                </select>
                            </div>


                        </div>
                    </section>


                    <!-- Classification Section -->
                    <section class="rounded-xl border border-[#0a514a] mb-8">
                        <h6
                            class="rounded-tr-xl rounded-tl-xl text-white text-lg font-bold uppercase tracking-wider bg-[#0a514a] p-3 px-6">
                            Classification</h6>
                        <div class="flex flex-wrap border-[#abd334] shadow-md rounded-bl-xl rounded-br-xl pb-8">

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Subsidiary</label>
                                <label id="so-subsidiary" class=""></label>
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Class<span
                                        class="text-red-500">*</span></label>
                                <label id="so-class-label" class="view-only"></label>
                                <select id="so-class"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full edit-only hidden"
                                    disabled>
                                    <option selected hidden>Select Class</option>
                                </select>
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Department<span
                                        class="text-red-500">*</span></label>
                                <label id="so-department-label" class="view-only"></label>
                                <select id="so-department"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full edit-only hidden"
                                    required>
                                    <option selected hidden>Select Department</option>
                                </select>
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Location<span
                                        class="text-red-500">*</span></label>
                                <label id="so-location-label" class="view-only"></label>
                                <select id="so-location"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full edit-only hidden"
                                    required>
                                    <option selected hidden>Select Location</option>
                                </select>
                            </div>

                            <div class="w-full lg:w-1/2 mt-6 px-6">
                                <label class="block text-gray-700 text-sm font-semibold mb-2">Project Summary</label>
                                <textarea id="so-projectsummary"
                                    class="border border-[#95a2a0] px-4 py-3 bg-white rounded-lg text-sm shadow-sm w-full"
                                    rows="2" disabled></textarea>
                            </div>

                        </div>
                    </section>

                    <!-- Line Items Section with Tabs -->
                    <section class="rounded-xl border border-[#0a514a]">
                        <h6
                            class="rounded-tr-xl rounded-tl-xl text-white text-lg font-bold uppercase tracking-wider bg-[#0a514a] p-3 px-6">
                            Line Level Details</h6>
                        <div class="border-[#abd334] shadow-md rounded-bl-xl rounded-br-xl p-6">

                            <!-- Tabs -->
                            <div class="flex space-x-4 mb-4 border-b border-[#0a514a]">
                                <button type="button"
                                    class="tab-btn py-2 px-4 text-gray-700 font-semibold border-b-2 border-[#0a514a]"
                                    data-tab="so-items">
                                    Items
                                </button>
                                <button type="button" id="sales-team-tab-btn"
                                    class="tab-btn py-2 px-4 text-gray-700 font-semibold border-b-2 border-transparent"
                                    data-tab="so-sales-team">
                                    Sales Team
                                </button>
                            </div>


                            <!-- Items Tab -->
                            <div id="so-items" class="tab-content tab-active">
                                <div class="overflow-x-auto">
                                    <table class="min-w-full border border-[#95a2a0] rounded-lg">
                                        <thead class="bg-gradient-to-r from-[#0a514a] to-[#0c6c73] text-white">
                                            <tr>
                                                <th class="px-4 py-3 text-left text-sm font-semibold">Item</th>
                                                <th class="px-4 py-3 text-left text-sm font-semibold">Quantity</th>
                                                <th class="px-4 py-3 text-left text-sm font-semibold">Units</th>
                                                <th class="px-4 py-3 text-left text-sm font-semibold">Description</th>
                                                <th class="px-4 py-3 text-left text-sm font-semibold">Price Level</th>
                                                <th id="th-rate" class="px-4 py-3 text-left text-sm font-semibold">Rate
                                                </th>
                                                <th id="th-amount" class="px-4 py-3 text-left text-sm font-semibold">
                                                    Amount</th>
                                                <th class="px-4 py-3 text-left text-sm font-semibold">Class</th>
                                                <th class="px-4 py-3 text-left text-sm font-semibold text-right">
                                                    Department</th>
                                            </tr>
                                        </thead>
                                        <tbody id="so-itemsTableBody" class="bg-white">
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- Sales team Tab -->
                            <div id="so-sales-team" class="tab-content">
                                <div class="overflow-x-auto">
                                    <table class="min-w-full border border-[#95a2a0] rounded-lg">
                                        <thead class="bg-gradient-to-r from-[#0a514a] to-[#0c6c73] text-white">
                                            <tr>
                                                <th class="px-4 py-3 text-left text-sm font-semibold">Employee</th>
                                                <th class="px-4 py-3 text-left text-sm font-semibold">Sales Role</th>
                                                <th class="px-4 py-3 text-left text-sm font-semibold">Primary</th>
                                                <th class="px-4 py-3 text-left text-sm font-semibold text-right">
                                                    Contribution %</th>
                                            </tr>
                                        </thead>
                                        <tbody id="so-salesTeamTableBody" class="bg-white">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>

</body>

</html>